<h2> Dataset Name : “Pima Indians Diabetes Database”.</h2>

Source : Kaggle (https://www.kaggle.com/uciml/pima-indians-diabetes-database)

<h2> 1. Introduction:</h2>

This dataset is originally from the National Institute of Diabetes and Digestive and Kidney Diseases. The objective of the dataset is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements included in the dataset. Several constraints were placed on the selection of these instances from a larger database. In particular, all patients here are females at least 21 years old of Pima Indian heritage. <a href="https://www.kaggle.com/uciml/pima-indians-diabetes-database">[1]</a>

In [1]:
# import libraries
import numpy as np
import matplotlib
import pandas as pd
import sklearn
import matplotlib.pyplot as plt

<h2>2. Problem Formulation: </h2>
In this problem we have some information (features) per each student

In [2]:
# Load Dataset
df=pd.read_csv('Diabetess.csv')#,sep=';')

In [6]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72,35,NaN,33.6,0.627,50.0,1
1,1,85.0,66,29,NaN,26.6,0.351,31.0,0
2,8,183.0,64,0,NaN,23.3,0.672,32.0,1
3,1,89.0,66,23,94.0,28.1,0.167,21.0,0
4,0,137.0,40,35,168.0,43.1,2.288,33.0,1

<h3>2.1. Features:</h3>

In [8]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

The following features are present in the dataset:
* **Pregnancies:**  Number of times pregnant
* **Glucose:** Plasma glucose concentration over 2 hours in an oral glucose tolerance test
* **BloodPressure:** Diastolic blood pressure (mm Hg)
* **SkinThickness:** Triceps skin fold thickness (mm)
* **Insulin:** 2-Hour serum insulin (mu U/ml)
* **BMI:** Body mass index (weight in kg/(height in m)2)
* **DiabetesPedigreeFunction:** Diabetes pedigree function (a function which scores likelihood of diabetes based on family history)
* **Age:** Age (years)
* **Outcome:** Class variable (0 if non-diabetic, 1 if diabetic)

<h3>2.2. Pre processing features:</h3>
<h4>2.2.1 NaN value:</h4>
In below first we find the columns contain NaN value,

In [58]:
# Find colums contain NaN value
nanCols=[]
for col in df.columns:
    if df[df[col].isna()].shape[0]>0 :
        nanCols.append(col)
print("Colums contain NaN value: ",nanCols)

Colums contain NaN value:  ['Glucose', 'Insulin', 'BMI']

In [61]:
df.Insulin

0        NaN
1        NaN
2        NaN
3       94.0
4      168.0
       ...
763    180.0
764      NaN
765    112.0
766      NaN
767      NaN
Name: Insulin, Length: 768, dtype: float64

In [80]:
df.Insulin.fillna(0)

0        0.0
1        0.0
2        0.0
3       94.0
4      168.0
       ...
763    180.0
764      0.0
765    112.0
766      0.0
767      0.0
Name: Insulin, Length: 768, dtype: float64

0