In [1]:
# https://towardsdatascience.com/predicting-imdb-movie-ratings-using-supervised-machine-learning-f3b126ab2ddbhttps://towardsdatascience.com/predicting-imdb-movie-ratings-using-supervised-machine-learning-f3b126ab2ddb#
# https://www.kaggle.com/c/predict-movie-ratings/discussion/11004

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('ratings_100k.csv')

In [4]:
df

        Unnamed: 0      id  user  movie  rating
0                0       0     1     31     2.5
1                1       1     1   1029     3.0
2                2       2     1   1061     3.0
3                3       3     1   1129     2.0
4                4       4     1   1172     4.0
...            ...     ...   ...    ...     ...
99999        99999   99999   671   6268     2.5
100000      100000  100000   671   6269     4.0
100001      100001  100001   671   6365     4.0
100002      100002  100002   671   6385     2.5
100003      100003  100003   671   6565     3.5

[100004 rows x 5 columns]

In [6]:
df.user.nunique()

671

In [7]:
df.rating.value_counts()

4.0    28750
3.0    20064
5.0    15095
3.5    10538
4.5     7723
2.0     7271
2.5     4449
1.0     3326
1.5     1687
0.5     1101
Name: rating, dtype: int64